node_modules
.npm
.tmp
.cache
dist
build
coverage
tests
.git
.gitignore
.env
.env.*
*.log
.strapi
.strapi-updater.json
Dockerfile*
.dockerignore
docker-compose*.yml
docker-compose*.yaml
compose*.yml
compose*.yaml
TSConfig.tsbuildinfo
*.tsbuildinfo